#wrapper
  #content
    %h1 Presentations

    = form_for :slides, url: '/slides', method: 'POST' do |f|
      = f.label :name
      = f.text_field :name
      %input{type: 'submit', value: 'Create'}

    %ul.presentations
      - @slides.each do |slides|
        %li.span4
          .thumbnail
            %h3 #{slides.name} by #{slides.username}
          %ul.button-group
            %li.quarter
              %a.button{href: "/slides/#{slides.id}/prezent"} Prezent
            %li.quarter
              %a.button.success{href: "/slides/#{slides.id}/view"} View
            %li.quarter
              %a.button.secondary{href: "/slides/#{slides.id}/edit"} Edit
            %li.quarter
              = link_to 'Remove', slides, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'button alert'
