#wrapper
  #content
    %h1= @presentation.name
    = form_for @presentation do |f|
      .tabs
        %a.active{href: "#haml"} Haml
        %a{href: "#css"} CSS
      .areas
        = f.text_area :haml, id: 'haml', class: 'active'
        = f.text_area :css, id: 'css', class: 'hidden'
      .btn-group
        = f.submit 'Zapisz', class: 'btn btn-primary'
        = link_to 'Wróć do prezentacji', root_path, class: 'btn btn-default'
