#wrapper
  #content
    %h1= @presentation.name
    = form_for @presentation do |f|
      .tabs
        %a.active{href: "#haml"} Haml
        %a{href: "#css"} CSS
      .areas
        = f.text_area :haml, id: 'haml', class: 'active'
        = f.text_area :css, id: 'css', class: 'hidden'
      .button-group
        = f.submit 'Update', class: 'button'
        = link_to 'Back to list', root_path, :class => 'button secondary'
