.new-presentation-form
  = form_for Presentation.new, html: {class: 'form-inline'} do |f|
    .form-group
      = f.text_field :name, placeholder: 'Nazwa prezentacji', class: 'form-control'
    %input.btn.btn-default{type: 'submit', value: 'Utwórz'}

.presentations
  %ul
    - @presentations.each do |presentation|
      %li.span4
        .box
          %h3 #{presentation.name} by #{presentation.username}
        .actions.btn-group
          = link_to 'View', "/presentations/#{presentation.id}/view", class: 'btn btn-success quarter'
          - if current_user && current_user.login == presentation.username
            = link_to 'Prezent', "/presentations/#{presentation.id}/prezent", class: 'btn btn-primary quarter'
            = link_to 'Edit', edit_presentation_path(presentation), class: 'btn btn-warning quarter'
            = link_to 'Remove', presentation, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger quarter'
