%header.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %strong= link_to 'Prezenter', root_path, class: 'navbar-brand'
    %nav
      %ul.nav.navbar-nav
        - if current_user
          %li
            %a= current_user.login
          %li
            = link_to 'Sign out', destroy_user_session_path, :method => :delete
        - else
          %li
            = link_to 'Sign in', new_user_session_path
          %li
            = link_to 'Sign up', new_user_registration_path
